<a href="https://colab.research.google.com/github/AsmathFathima/AI/blob/main/4F3_AI_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
import pandas as pd
import numpy as np

In [3]:
path ='/content/drive/MyDrive/load4'
data= pd.read_excel(path)
data.head()

*** No CODEPAGE record, no encoding_override: will use 'ascii'

     X    Y
0  7.6  157
1  7.1  174
2  8.2  175
3  7.5  188
4  7.4  171

In [4]:
minX=np.min(data['X'])
maxX=np.max(data['X'])
minY=np.min(data['Y'])
maxY=np.max(data['Y'])
data['Y']=(data['Y']-minY)/(maxY-minY)
data['X']=(data['X']-minX)/(maxX-minX)
x=data['X']
y=data['Y']

In [5]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.1, random_state=4)

In [6]:
m=np.random.uniform(-5,5)
c=np.random.uniform(-5,5)
eta=0.01
epochs=500
iter=0
while iter<epochs:
  for i in range(x_train.shape[0]):
    delm=-1*(y_train.iloc[i]-m*x_train.iloc[i]-c)*x_train.iloc[i]
    delc=-1*(y_train.iloc[i]-m*x_train.iloc[i]-c)
    step_m=(-eta)*delm
    step_c=(-eta)*delc
    m=m+step_m
    c=c+step_c
  iter=iter+1

In [7]:
y_pred_train=[]
for i in range(x_train.shape[0]):
  pred=m*x_train.iloc[i]+c
  y_pred_train.append(pred)
y_pred_test=[]
for i in range(x_test.shape[0]):
  pred=m*x_test.iloc[i]+c
  y_pred_test.append(pred)

In [8]:
for i in range(x_train.shape[0]):
  x_train.iloc[i]=x_train.iloc[i]*(maxX-minX)+minX
  y_train.iloc[i]=y_train.iloc[i]*(maxY-minY) +minY
  y_pred_train[i]=y_pred_train[i]*(maxY-minY)+minY
for i in range(x_test.shape[0]):
  x_test.iloc[i]=x_test.iloc[i]*(maxX-minX)+minY
  y_test.iloc[i]=y_test.iloc[i]*(maxY-minY)+minY
  y_pred_test[i]=y_pred_test[i]*(maxY-minY)+minY

In [10]:
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
import math
trainMAE=mean_absolute_error(y_train,y_pred_train)
trainMSE=mean_squared_error(y_train,y_pred_train)
trainRMSE=math.sqrt(trainMSE)
testMAE=mean_absolute_error(y_test,y_pred_test)
testMSE=mean_squared_error(y_test,y_pred_test)
testRMSE=math.sqrt(testMSE)

In [11]:
print('TrainMAE',trainMAE)
print('TrainMSE',trainMSE)
print('TrainRMSE',trainRMSE)
print('TestMAE',testMAE)
print('TestMSE',testMSE)
print('TestRMSE',testRMSE)

TrainMAE 46.167815091534784
TrainMSE 2868.1681794595443
TrainRMSE 53.55528152721769
TestMAE 32.55423694197421
TestMSE 1248.587697825856
TestRMSE 35.335360445676166