<a href="https://colab.research.google.com/github/AsmathFathima/AI/blob/main/4F3_AI_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Import necessary modules
import numpy as np
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
#Read the data
data=pd.read_excel('/content/drive/MyDrive/load6')
data

*** No CODEPAGE record, no encoding_override: will use 'ascii'

      X    Y
0   7.6  157
1   7.1  174
2   8.2  175
3   7.5  188
4   7.4  171
5   7.8  143
6   7.3  217
7   8.0  190
8   7.1  142
9   7.5  190
10  8.1  215
11  7.0  199
12  7.3  262
13  7.8  105
14  7.3  121
15  8.0   81
16  8.5   82
17  7.1  210
18  8.2  202
19  7.9  155
20  7.6  157
21  8.8  147
22  7.2  133
23  7.9   53
24  8.1   56
25  7.7  113
26  8.4   35
27  7.4  125
28  7.3   76
29  8.5   48
30  7.8  147
31  6.7  117
32  7.1  182
33  7.3   87

In [4]:

xmax=np.max(data['X'])
xmin=np.min(data['X'])
data['X']= (data['X'] - xmin) / (xmax - xmin)

In [5]:

ymax=np.max(data['Y'])
ymin=np.min(data['Y'])
data['Y'] = (data['Y'] - ymin) / (ymax - ymin)

In [17]:
data.head()

          X         Y
0  0.428571  0.537445
1  0.190476  0.612335
2  0.714286  0.616740
3  0.380952  0.674009
4  0.333333  0.599119

In [20]:
xtrain

29    0.857143
26    0.809524
25    0.476190
27    0.333333
33    0.285714
2     0.714286
28    0.285714
19    0.571429
16    0.857143
10    0.666667
3     0.380952
1     0.190476
22    0.238095
12    0.285714
5     0.523810
14    0.285714
0     0.428571
21    1.000000
24    0.666667
4     0.333333
8     0.190476
13    0.523810
9     0.380952
15    0.619048
32    0.190476
23    0.571429
6     0.285714
17    0.190476
11    0.142857
31    0.000000
Name: X, dtype: float64

In [19]:

from sklearn.model_selection import train_test_split
X = data['X']
Y = data['Y']
xtrain, xtest, ytrain, ytest = train_test_split(X, Y, test_size=0.1, random_state=101)

In [21]:

m1 = np.random.uniform(-10, 10)
m2 = np.random.uniform(-10, 10)
c = np.random.uniform(-10, 10)
eeta = 0.1
epochs = 5000


for _ in range(epochs):
    for i in range(xtrain.shape[0]):
        x,y = xtrain.iloc[i], ytrain.iloc[i]
        ypred = (x ** 2) * m1 + x * m2 + c
        gradm1 = -1 * (x ** 2) * (y - ypred)
        gradm2 = -1 * x * (y - ypred)
        gradc = -1 * (y - ypred)
        m1 = m1 - eeta * gradm1
        m2 = m2 - eeta * gradm2
        c = c - eeta * gradc


print('Model Parameters :')
print('m1 =', m1)
print('m2 =', m2)
print('c =', c)

Model Parameters :
m1 = -0.2821548474491894
m2 = -0.11619957749242164
c = 0.5919254032192817

In [22]:

ytrainPred = []
for x in xtrain:
    ypred=m1*x**2+m2*x+c
    ytrainPred.append(ypred)


ytestPred = []
for x in xtest:
    pred=m1*x**2+m2*x+c
    ytestPred.append(pred)

In [23]:

xtrain = xtrain * (xmax - xmin) + xmin
ytrain = ytrain * (ymax - ymin) + ymin
xtest = xtest * (xmax - xmin) + xmin
ytest = ytest * (ymax - ymin) + ymin
ytrainPred = np.multiply(ytrainPred, (ymax - ymin)) + ymin
ytestPred = np.multiply(ytestPred, (ymax - ymin)) + ymin

In [24]:
from sklearn.metrics import mean_absolute_error,mean_squared_error
MAE_Train = mean_absolute_error(ytrainPred, ytrain) #Testing MAE
MSE_Train = mean_squared_error(ytrainPred, ytrain) #Testing MSE
RMSE_Train = mean_squared_error(ytrainPred, ytrain) ** 0.5 #Testing RMSE
MAE_Test = mean_absolute_error(ytestPred, ytest) #Testing MAE
MSE_Test = mean_squared_error(ytestPred, ytest) #Testing MSE
RMSE_Test = mean_squared_error(ytestPred, ytest) ** 0.5 #Testing RMSE
print('Training Error :')
print('Mean Absolute Error :', MAE_Train)
print('Mean Squared Error :', MSE_Train)
print('Root Mean Squared Error :', RMSE_Train)
print('\nTesting Error :')
print('Mean Absolute Error :', MAE_Test)
print('Mean Squared Error :', MSE_Test)
print('Root Mean Squared Error :', RMSE_Test)

Training Error :
Mean Absolute Error : 44.70603911044559
Mean Squared Error : 2651.784991903376
Root Mean Squared Error : 51.49548516038446

Testing Error :
Mean Absolute Error : 41.34586779155958
Mean Squared Error : 2765.14267858471
Root Mean Squared Error : 52.58462397492931