<a href="https://colab.research.google.com/github/AsmathFathima/AI/blob/main/AI_4F3_ASSIGN6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:

import numpy as np
import pandas as pd

In [11]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [12]:

data=pd.read_excel('/content/drive/MyDrive/xl6')
data

*** No CODEPAGE record, no encoding_override: will use 'ascii'

      X    Y
0   7.6  157
1   7.1  174
2   8.2  175
3   7.5  188
4   7.4  171
5   7.8  143
6   7.3  217
7   8.0  190
8   7.1  142
9   7.5  190
10  8.1  215
11  7.0  199
12  7.3  262
13  7.8  105
14  7.3  121
15  8.0   81
16  8.5   82
17  7.1  210
18  8.2  202
19  7.9  155
20  7.6  157
21  8.8  147
22  7.2  133
23  7.9   53
24  8.1   56
25  7.7  113
26  8.4   35
27  7.4  125
28  7.3   76
29  8.5   48
30  7.8  147
31  6.7  117
32  7.1  182
33  7.3   87

In [13]:

xmax=np.max(data['X'])
xmin=np.min(data['X'])
data['X']= (data['X'] - xmin) / (xmax - xmin)

In [14]:

ymax=np.max(data['Y'])
ymin=np.min(data['Y'])
data['Y'] = (data['Y'] - ymin) / (ymax - ymin)

In [17]:
data.head()

          X         Y
0  0.428571  0.537445
1  0.190476  0.612335
2  0.714286  0.616740
3  0.380952  0.674009
4  0.333333  0.599119

In [25]:

from sklearn.model_selection import train_test_split
X = data['X']
Y = data['Y']
xtrain, xtest, ytrain, ytest = train_test_split(X, Y, test_size=0.1, random_state=101)

In [29]:
m1=np.random.uniform(-5,5)
m2=np.random.uniform(-5,5)
c=np.random.uniform(-5,5)
eeta=0.01
epochs=1000
iters=0
while iters<epochs:
    for i in range(xtrain.shape[0]):
        err=ytrain.iloc[i]-m1*xtrain.iloc[i]**2-m2*xtrain.iloc[i]-c
        delm1= -(xtrain.iloc[i]**2)*err
        delm2= -(xtrain.iloc[i])*err
        delc= -err
        stepm1=-eeta*delm1
        stepm2=-eeta*delm2
        stepc=-eeta*delc
        m1=m1+stepm1
        m2=m2+stepm2
        c=c+stepc
        iters=iters+1
print(m1,m2,c)

-0.2486165454780447 2.021071198762903 -0.42446622922548377

In [30]:

ytrainPred = []
for x in xtrain:
    ypred=m1*x**2+m2*x+c
    ytrainPred.append(ypred)


ytestPred = []
for x in xtest:
    pred=m1*x**2+m2*x+c
    ytestPred.append(pred)

In [31]:

xtrain = xtrain * (xmax - xmin) + xmin
ytrain = ytrain * (ymax - ymin) + ymin
xtest = xtest * (xmax - xmin) + xmin
ytest = ytest * (ymax - ymin) + ymin
ytrainPred = np.multiply(ytrainPred, (ymax - ymin)) + ymin
ytestPred = np.multiply(ytestPred, (ymax - ymin)) + ymin

In [32]:
from sklearn.metrics import mean_absolute_error,mean_squared_error
MAE_Train = mean_absolute_error(ytrainPred, ytrain) 
MSE_Train = mean_squared_error(ytrainPred, ytrain) 
RMSE_Train = mean_squared_error(ytrainPred, ytrain) ** 0.5 
MAE_Test = mean_absolute_error(ytestPred, ytest) 
MSE_Test = mean_squared_error(ytestPred, ytest) 
RMSE_Test = mean_squared_error(ytestPred, ytest) ** 0.5 
print('Training Error :')
print('Mean Absolute Error :', MAE_Train)
print('Mean Squared Error :', MSE_Train)
print('Root Mean Squared Error :', RMSE_Train)
print('\nTesting Error :')
print('Mean Absolute Error :', MAE_Test)
print('Mean Squared Error :', MSE_Test)
print('Root Mean Squared Error :', RMSE_Test)

Training Error :
Mean Absolute Error : 111.24925566446797
Mean Squared Error : 17580.648469214986
Root Mean Squared Error : 132.5920377293259

Testing Error :
Mean Absolute Error : 23.78917556095556
Mean Squared Error : 671.8758904622521
Root Mean Squared Error : 25.92056886841514